doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet' href='style.css')
        title Course Project
    body
        nav#mainNav
            a.nav-brand(href="/") Course Project
            ul.nav-list
                li.nav-list-item 
                    a(href="/" class=(link=== '/' ? 'active' : '')) Products
                li.nav-list-item 
                    a(href="/add-product" class=(link==='/add-product'? 'active' : '')) Add
        block content