extends layouts/main-layout.pug

block content
    main
        form#addProductForm(onsubmit='sendForm(event)')
            input(type='text', name='product', placeholder='product name', required)
            button(type='submit') Add
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src='sendForm.js')