extends layouts/main-layout.pug

block content
    main
        form#addProductForm(action='/add-product' method='POST')
            input(type='text', name='name', placeholder='product name', required)
            button(class='form-button' type='submit') Add