<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../public/style.css" />
    <title>Course Project</title>
  </head>
  <body>
    <nav id="mainNav">
      <a class="nav-brand" href="/">Course Project</a>
      <ul class="nav-list">
        <li class="nav-list-item"><a href="/">Products</a></li>
        <li class="nav-list-item"><a href="/add-product">Add</a></li>
      </ul>
    </nav>
    <main>
      <h2 id="hero">Welcome to the Course Project</h2>
    </main>
  </body>
</html>
